.bold {
  font-weight: bold;
}

.poster {
  max-width: 70%;
  float: left;
}

.bigview {
  max-width: 30%;
  float: left;
}

.large {
  font-size: 2em;
}

.center {
  text-align: center;
}

.buttons {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 5px;
}

.btn-laptop {
  font-size: 2em;
  border-radius: 5px;
}

.btn-mobile {
  height: 250px;
  width: 250px;
  font-size: 4em;
  border-radius: 50%;
}

#match {
  margin-bottom: 100px;
}

hr {
  -moz-border-bottom-colors: none;
-moz-border-image: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: #EEEEEE -moz-use-text-color #FFFFFF;
border-style: solid none;
border-width: 1px 0;
margin: 100px 0 50px 0;

}
