.bold {
  font-weight: bold;
}

.poster {
  max-width: 70%;
  float: left;
}

.bigview {
  max-width: 30%;
  float: left;
}

.large {
  font-size: 2em;
}

.center {
  text-align: center;
}

.buttons {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 5px;
}

.btn-laptop {
  font-size: 2em;
  border-radius: 5px;
}

.btn-mobile {
  height: 250px;
  width: 250px;
  font-size: 4em;
  border-radius: 50%;
}

.error {
  border: 1px solid red;
  border-radius: 5%;
}

.error-msg {
  color: red;
}

#match {
  margin-bottom: 100px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 100px 0 50px 0;
}

<<<<<<< d0f6cc63a93c77e28855ba285d46e0137d1cc847
<<<<<<< e66a50fbda01b718253c1931e51579d02c2bc516
=======
>>>>>>> App named nav bar with pull down menu on right that shows settings, signout, and sessions links
.main-nav {
  height: 26px;
  background:rgba(225,0,0,0.8);
}

.main-nav-menu-icon {
<<<<<<< d0f6cc63a93c77e28855ba285d46e0137d1cc847
  width: 25px;
}

.main-nav-menu {
  float: right;
  position:relative;
}

.nav-list {
  padding-right: 13px;
  z-index: 100;
  cursor: pointer;
  position: absolute;
<<<<<<< c9204c47c98a0b07b704d8830472f7f349bee5e5
  left: -80px;
  top: 25px;
  background:rgba(225,0,0,0.2);
}

.session-name {
  position: relative;
  left: 35%;
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
  font-size: 20px;
}

.app-title {
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
  font-size: 20px;
=======
.main-nav-menu {
=======
>>>>>>> App named nav bar with pull down menu on right that shows settings, signout, and sessions links
  width: 25px;
>>>>>>> allows clickable image to expand navigation of settings
}

.main-nav-menu {
  float: right;
  position:relative;
}

.nav-list {
  padding-right: 13px;
  z-index: 100;
  cursor: pointer;
  position:absolute;
=======
>>>>>>> Will only show menu if there is a signed in user; adds the session name if there is a session name;
  left: -80px;
  top: 25px;
  background:rgba(225,0,0,0.2);
}

.session-name {
  position: relative;
  left: 35%;
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
  font-size: 20px;
}

.app-title {
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
  font-size: 20px;
}
