<!-- this is the page that users wait in for their freinds to join.
They will press start when everyone has joined -->

<div id="match" class="container">
  <p class="center">
    <span class="bold">Hi, {{ user.username }}!</span>
    Once all your friends are here, click start.
  </p>
  <div class="join-group-cnt block-center" ng-repeat="session in sessions">
    <button class="col-xs-12 btn-mobile visible-xs visible-sm" ng-click="startMatching()">Start Matching Movies!</button>
    <button class="col-xs-12 btn-laptop hidden-xs hidden-sm" ng-click="startMatching()">Start Matching Movies!</button>
  </div>
  <!-- the hr has to be in a div for bootstrap -->
  <div class='row span12'>
    <hr>
  </div>

  <div class="users" ng-repeat="user in users">
    <ul>
      <li>{{user.username}}</li>
    </ul>
  </div>
<div>
  <button ng-click="startSession(sessionName)">Start</button>
</div>
