<!-- this is the page that users wait in for their freinds to join.
They will press start when everyone has joined -->

<div id="match" class="container">
    <div data-wrapper-for="Grid1" class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h3>
                    Wait for your friends, {{ username }}!
                </h3>
                <h4>
                    Your room code is: <strong>{{ sessionCode }}</strong>
                </h4>
                <p>
                    Once everyone is here, press &quot;Start&quot;
                </p>
            </div>
        </div>
    </div>
    <form class="form-inline" role="form" name=>
        <div class="form-group ">
            <div>
              <hr>
            </div>
            <h4>
                People currently in the room:
            </h4>
        </div>
        <div class="users" ng-repeat="user in users">
          <h4>
              {{ user.username }}
          </h4>
        </div>
    </form>
    <div data-wrapper-for="Grid4" class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-6">
                <button class="btn btn-success btn-lg" type="button" ng-click="startSession( session.id )">
                    <span class="ion ion-arrow-right-b" style="color: black;">
                    </span>
                    Start
                </button>
            </div>
            <div class="col-xs-3">
            </div>
        </div>
    </div>
</div>