<section class="main-nav">
  <div class="main-nav-bar">
    <span class="app-title">
      Movie Match
    </span>
    <div class="main-nav-menu">
      <div class="logo-arrow" ng-click="toggleNavList({type: 'main-click'})">
        <img class="main-nav-menu-icon" src="../../assets/navmenu.png" />
      </div>
      <ul class="nav-list" ng-show="expand" ng-mouseleave="toggleNavList($event)" ng-click="toggleNavList($event)" >
        <li>
          <a href="#/sessions">Sessions</a>
        </li>
        <li>
          <a href="#/settings">Settings</a>
        </li>
        <li>
          <a href="#/signout">Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</section>
