<!-- This is the page that is shown when we are trying to match with the other people in our session -->
<!-- We should be shown a movie, and then choose 'yes' or 'no' -->
<div id="match" class="container">
  <div class="header center row">
    <!-- visible-xs and -sm denote that the element is visible on a small screen -->
    <h2 class="col-xs-12 visible-xs visible-sm">
      <div class="app-title large">Movie Match</div>
      <div class="session-name large">( {{ session.name }} )</div>
    </h2>
    <!-- hidden-xs and hidden-sm denote that the element is invisible on a small screen -->
    <h2 class="col-xs-12 hidden-xs hidden-sm">
      <span class="app-title">Movie Match</span> <span class="session-name">( {{ session.name }} )</span>
    </h2>
  </div>
  <p class="center"><span class="bold">{{ user.name }}</span>, would you like to see this movie with your friends today?</p>
  <div class="movie">
    <h2 class="center">{{ currMovie.original_title }} ({{ currMovie.release_date }})</h2>
    <h6 class="center">{{ currMovie.vote_average }} | <!-- <span ng-repeat="genre in currMovie.genres">{{ genre }} </span> |  --></h6>
    <div class="row">
      <!-- We want to size the poster appropriately so we can
      see the buttons at the bottom -->
      <img class="poster col-xs-6" alt="{{ currMovie.original_title }} poster" src="http://image.tmdb.org/t/p/w500{{ currMovie.poster_path }}">
      <div class="summary col-xs-6">
        <h4>Movie Summary</h4>
        <p>{{ currMovie.summary }}</p>
      </div>
    </div>
    <div class="crew">
      <p><span class="bold">Director: </span>{{ currMovie.director }}</p>
    </div>
    <div class="cast">
      <p><span class="bold">Starring: </span>{{ currMovie.cast }}</p>
    </div>
  </div>
</div>
<div class="buttons row">
  <button class="col-xs-5 pull-left btn-mobile visible-xs visible-sm" ng-click="no()">No Thanks</button><button class="col-xs-5 pull-right btn-mobile visible-xs visible-sm" ng-click="yes()">Yes Please</button>
  <button class="col-xs-5 pull-left btn-laptop hidden-xs hidden-sm" ng-click="no()">No Thanks</button><button class="col-xs-5 pull-right btn-laptop hidden-xs hidden-sm" ng-click="yes()">Yes Please</button>
</div>