<!-- This is the page that is shown when we are trying to match with the other people in our session -->
<!-- We should be shown a movie, and then choose 'yes' or 'no' -->
<div id="match" class="container">
  <p class="center"><span class="bold">{{ user.name }}</span>, would you like to see this movie with your friends today?</p>
  <div class="movie">
    <h2 class="center">{{ movie.name }} ({{ movie.year }})</h2>
    <h6 class="center">{{ movie.rating }} | {{ movie.runtime }} | <span ng-repeat="genre in movie.genres">{{ genre }} </span> | ({{ movie.country }})</h6>
    <div class="row">
      <!-- We want to size the poster appropriately so we can
      see the buttons at the bottom -->
      <img class="poster col-xs-6" alt="{{ movie.name }} poster" src="{{ movie.poster_path }}">
      <div class="summary col-xs-6">
        <h4>Movie Summary</h4>
        <p>{{ movie.summary }}</p>
      </div>
    </div>
    <div class="crew">
      <p><span class="bold">Director: </span>{{ movie.director }}</p>
    </div>
    <div class="cast">
      <p><span class="bold">Starring: </span>{{ movie.cast }}</p>
    </div>
  </div>
</div>
<div class="buttons row">
  <button class="col-xs-5 pull-left btn-mobile visible-xs visible-sm" ng-click="no()">No Thanks</button><button class="col-xs-5 pull-right btn-mobile visible-xs visible-sm" ng-click="yes()">Yes Please</button>
  <button class="col-xs-5 pull-left btn-laptop hidden-xs hidden-sm" ng-click="no()">No Thanks</button><button class="col-xs-5 pull-right btn-laptop hidden-xs hidden-sm" ng-click="yes()">Yes Please</button>
</div>
